<div class="container">
<%= simple_form_for(house) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :photo %>
  <%= f.input :bedroom %>
  <%= f.input :bathroom %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>
</div>
